@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color: #110f28;
    background-image: url("./assets/abstract-pattern_pngwing.com.png");
    background-size: cover;
    background-repeat: repeat-y;
}

body::-webkit-scrollbar {
    background-color: #645CBB;
    scrollbar-color: #EBC7E6;
    scroll-margin: 8px;
    width: 10px;
}

body::-webkit-scrollbar-thumb, .todo-tasks-container::-webkit-scrollbar-thumb {
    background: #A084DC;
    width: 100%;
    border-radius: 10px;
}
}

.footer-title {

  text-align: center;

  display: fixed;

  font-size: 48px;

  position: relative;

  top: -30px;

  margin: 20px;

  z-index: 5;

  filter: drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 0.25px #fff) drop-shadow(0 0 3px #fff);

  cursor: default;

  user-select: none;

  -webkit-tap-highlight-color: transparent;

}

.footer-content {

  display: flex;

  justify-content: space-between;

  align-items: flex-start;

  max-width: 1200px;

  margin: 0 auto;

  z-index: 2;

  cursor: default;
}
.footer-column {

  flex-basis: 25%;

  margin-bottom: 30px;

  z-index: 2;

}

.footer-column h2 {

  font-size: 24px;

  font-weight: bold;

  margin-bottom: 20px;

  text-transform: uppercase;

  letter-spacing: 1px;

  z-index: 2;

  cursor: default;

}

.footer-column p {

  line-height: 1.5;

  margin-bottom: 30px;

  z-index: 2;

}
.footer-column li {

  margin-bottom: 10px;

  z-index: 2;

}

.footer-column li a {

  color: #fff;

  text-decoration: none;

  transition: all 0.5s;

  z-index: 2;

}

.footer-column li a:hover {

  color: #fff;

  filter: drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff);

  z-index: 2;

}
.footer-bottom {

  text-align: center;

  font-size: 14px;

  padding-top: 20px;

  z-index: 0.5;

}

.footer-bottom p {

  margin: 0;

  z-index: 2;

  cursor: default;

  transition: all 0.5s;

  user-select: none;

  -webkit-tap-highlight-color: transparent;

}

.footer-bottom {

  text-align: center;

  font-size: 14px;

  padding-top: 20px;

  z-index: 0.5;

}

.footer-bottom p {

  margin: 0;

  z-index: 2;

  cursor: default;

  transition: all 0.5s;

  user-select: none;

  -webkit-tap-highlight-color: transparent;

}

.footer-bottom p:hover {

  color: #fff;

  filter: drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff);

  user-select: none;

    -webkit-tap-highlight-color: transparent;

}
.footer-title {

    font-size: 38px;

    justify-content: center;

    align-items: center;

  }

  .footer-content {

    flex-wrap: wrap;

    margin-left: 20px;

  }

  .footer-column {

    flex-basis: 50%;

    margin-bottom: 20px;

  }
